
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/People">People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Addresses">Addresses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>
