// Variable Overrides (https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults)

$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: false;

$fa-font-path: "../webfonts";

$base-theme:Bootstrap;
$skin-name:bootstrap-v4;
$accent: #007bff;
$component-bg: #ffffff;
$component-color: #292b2c;
$card-cap-bg: #f7f7f9;
$card-cap-color: #292b2c;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
